.main {
  width: 50%;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.012);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
  --webkit-backdrop-filter: blur(10px);
  border-radius: 10px;

  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  h1 {
    text-align: center;
    padding-bottom: 1rem;
  }
}

@media (max-width: 1440px) {
  .main {
    width: 40%;
  }
}

@media (max-width: 1024px) {
  .main {
    width: 60%;
  }
}

@media (max-width: 768px) {

  .main {
    top: 30%;
    width: 75%;
  }
}

@media (max-width: 576px) {
  .main {
    top: 50%;
    width: 90%;
  }
}
